<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>109100865733-dh6g1vkgv7mv8g6r4ss3oos768s61mde.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.109100865733-dh6g1vkgv7mv8g6r4ss3oos768s61mde</string>
	<key>API_KEY</key>
	<string>AIzaSyASbnSZJvlh75ameVOVoK6h1dzIJ8Wcw9c</string>
	<key>GCM_SENDER_ID</key>
	<string>109100865733</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.neovision77.quizFirst</string>
	<key>PROJECT_ID</key>
	<string>quizfirst-d98f7</string>
	<key>STORAGE_BUCKET</key>
	<string>quizfirst-d98f7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:109100865733:ios:a6aadf54ca9138cbe378ac</string>
</dict>
</plist>